[submodule "testing-app-api-lottery"]
	path = testing-app-api-lottery
	url = https://github.com/samymercier-isc-france/testing-app-api-lottery
[submodule "testing-app-angular"]
	path = testing-app-angular
	url = https://github.com/samymercier-isc-france/testing-app-angular
[submodule "testing-app-ionic"]
	path = testing-app-ionic
	url = https://github.com/samymercier-isc-france/testing-app-ionic
